.fondo{
    background-color: #C0C0C0;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color: 	rgb(14, 106, 199);

}
p{
    margin: 35px;
    color: #000044;
}