.fondo{
    background-color: #A4E666;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color: 		#494d28;

}
p{
    margin: 35px;
    color:black;
}