.fondo{
    background-color: rgb(29, 1, 1);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color: tomato;

}
p{
    margin: 35px;
    color: white;
}